<table>

    <tr class="table-dados">
        <td>Heroi</td>
        <td>Nivel de Habilidade</td>
        <td>Quantidade de Picks</td>
    </tr>
    <tr class="table-dados" *ngFor="let heroi of dota">
        <td>{{ heroi.nomeHeroi }}</td>
        <td>{{ heroi.nivelHabilidade }}</td>
        <td>{{ heroi.quantidadePicks }}</td>
        <td><i class="fas {{heroi.editarHeroi}}"></i></td>
    </tr>
</table>


<table>
    <tr *ngFor="let hero of herois">
        <td>{{ hero.id }}</td>
        <td>{{ hero.localized_name }}</td>
        <td>{{ hero.roles }}</td>
        <td>{{ hero.name }}</td>
    </tr>
</table>